@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    padding-block: 1rem;
    background-color: #fff;
    margin-bottom: -50px;
    margin-top: -58px;
    margin-left: 25rem;
}

.logoP > img {
    width: 138px;
    /* height: 20%; */
    border-radius: 3px;
    margin-left: -22.5rem;
}
 
.innerNav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 10px 20px; */
}
    
.genLayout {
    max-width: 1000px;
    margin: auto;
}

#toggle, .hamburger{
    display: none;
}

.navRight {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: -19rem;
}

.navRight > h5 {
color:rgb(16, 112, 16);
font-family: "Source Code Pro", monospace;
font-size: 12px;
font-weight: 700;
}

.navRight > .hPro {
    font-family: "Open Sans", sans-serif;
}

.navRight > .hPro > span {
font-weight: 400;
}

.navRight > i {
  color:  rgb(76, 232, 100);

}

.navLink {
    font-family: "Source Code Pro", monospace;
    font-style: 12px;
    font-weight: 700;
    text-transform: capitalize;
    border: 1px solid black;
}



.navLink > span {
   color:rgb(16, 112, 16);
   font-family: "Source Code Pro", monospace;
   font-size: 12px;
}


.navLink > button {
    font-family: "Source Code Pro", monospace;
    font-size: 12px;
    font-weight: 700;
    border-radius: 8px;
    height: 40px;
    width: 100px;
    color:rgb(16, 112, 16);
    border: none;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(76, 232, 100, 0.3);
}

main {
    background: linear-gradient(to bottom, rgb(253, 253, 253), rgb(195, 254, 204) );
   height: 40vh;
}


.hero {
    font-family: "Source Code Pro", monospace;

}

.genLayout {
     max-width: 1000px;
    margin: auto;
}


.heroContent > h1 {
    color:rgb(16, 112, 16);
    text-decoration: none;
    font-size: 2rem;
    margin-bottom: 10px;
}

.heroContent > p {
    font-size: 13px;
}

.searchHero {
    /* font-family: "Source Code Pro", monospace; */
    background: white;
    border-radius: 15px;
    padding: 25px;
    width: 550px;
    margin-top: 30px;
    /* height: 200px; */
}

.searchHero > button {
    font-family: "Source Code Pro", monospace;
    background: none;
    border: none;
    padding: 8px 15px;
    font-weight: 600;
    font-size: 10px;  
}

.searchHero > .tabBtn {
    color: rgb(16, 112, 16);
    background: rgb(225, 250, 229);
    border-radius: 10px;
    margin-bottom: 20px;

}

.searchHero > .tabBtn1 {
color: rgb(102, 107, 102);
}


.searchBar {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 1.7 rem;
    width: 450px;
    border-radius: 8px;
    gap: 10px;
}

.searchBar > i {
    color:  rgb(76, 232, 100);
    /* border: solid black; */
}

.searchBar > i > input {
    border: none;
    outline: none;
    text-transform: capitalize;
    background-color: rgb(16, 112, 16);
    padding: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    font-size: 11px;
    padding: 0.4rem 5.3rem;
    background-color:  rgb(229, 252, 232);
}

::placeholder {
 color: rgb(16, 112, 16);
}

.searchBar > button {
    background: rgb(16, 112, 16) ;
    color:#fff;
    border: none;
    text-transform: capitalize;
    padding: 0.8rem 1rem;
    border-radius: 10px;
}

.heroCar {
    position: relative;
}

.heroCar > img {
    position: absolute;
    right: -50px;
    bottom: -250px;
    width: 34%;
    border-radius: 30%;
    padding: 20px;
    mix-blend-mode: multiply;
}





















