@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    padding-block: 1rem;
    background-color: #fff;
    margin-bottom: -50px;
    margin-top: -58px;
    margin-left: 25rem;
}

.logoP > img {
    width: 138px;
    /* height: 20%; */
    border-radius: 3px;
    margin-left: -22.5rem;
}
 
.innerNav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 10px 20px; */
}
    
.genLayout {
    max-width: 1000px;
    margin: auto;
}

#toggle, .hamburger{
    display: none;
}

.navRight {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: -19rem;
}

.navRight > h5 {
color:rgb(16, 112, 16);
font-family: "Source Code Pro", monospace;
font-size: 12px;
font-weight: 700;
}

.navRight > .hPro {
    font-family: "Open Sans", sans-serif;
}

.navRight > .hPro > span {
font-weight: 400;
}

.navRight > i {
  color:  rgb(76, 232, 100);

}

.navLink {
    font-family: "Source Code Pro", monospace;
    font-style: 12px;
    font-weight: 700;
    text-transform: capitalize;
}



.navLink > span {
   color:rgb(16, 112, 16);
   font-family: "Source Code Pro", monospace;
   font-size: 12px;
}


.navLink > button {
    font-family: "Source Code Pro", monospace;
    font-size: 12px;
    font-weight: 700;
    border-radius: 8px;
    height: 40px;
    width: 100px;
    color:rgb(16, 112, 16);
    border: none;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(76, 232, 100, 0.3);
}

main {
    background: linear-gradient(to bottom, rgb(253, 253, 253), rgb(195, 254, 204) );
   height: 40vh;
}


.hero {
    font-family: "Source Code Pro", monospace;

}

.genLayout {
     max-width: 1000px;
    margin: auto;
}


.heroContent > h1 {
    color:rgb(16, 112, 16);
    text-decoration: none;
    font-size: 2rem;
    margin-bottom: 10px;
}

.heroContent > p {
    font-size: 13px;
}

.searchHero {
    /* font-family: "Source Code Pro", monospace; */
    background: white;
    border-radius: 15px;
    padding: 25px;
    width: 550px;
    margin-top: 30px;
    /* height: 200px; */
}

.searchHero > button {
    font-family: "Source Code Pro", monospace;
    background: none;
    border: none;
    padding: 8px 15px;
    font-weight: 600;
    font-size: 10px;  
}

.searchHero > .tabBtn {
    color: rgb(16, 112, 16);
    background: rgb(225, 250, 229);
    border-radius: 10px;
    margin-bottom: 20px;

}

.searchHero > .tabBtn1 {
color: rgb(102, 107, 102);
}


.searchBar {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 1.7 rem;
    width: 450px;
    border-radius: 8px;
    gap: 10px;
}

.searchBar > i {
    color:  rgb(76, 232, 100);
    /* border: solid black; */
}

.searchBar > i > input {
    border: none;
    outline: none;
    text-transform: capitalize;
    background-color: rgb(16, 112, 16);
    padding: 12px;
    font-family: "Open Sans", sans-serif;
    font-weight: 200;
    font-size: 11px;
    padding: 0.4rem 5.3rem;
    background-color:  rgb(229, 252, 232);
}

::placeholder {
 color: rgb(16, 112, 16);
}

.searchBar > button {
    background: rgb(16, 112, 16) ;
    color:#fff;
    border: none;
    text-transform: capitalize;
    padding: 0.8rem 1rem;
    border-radius: 10px;
}

.heroCar {
    position: relative;
}

.heroCar > img {
    position: absolute;
    right: -10px;
    bottom: -246.6px;
    width: 34%;
    /* border-radius: 30%; */
    border-radius: 30% 30% 5% 5%;
    padding: 20px;
    mix-blend-mode: multiply;
}

/* .mainR{
background-color: #fff;
} */

.carOffers {
    padding-top: 95px;
    padding-bottom: 60px;
}

.offersGrid {
    font-family: "Source Code Pro", monospace;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.cyberTruck {
    position: relative;
}

.cyberTruck > img{
    border-radius: 13px;
   border: 1px solid rgb(16, 112, 16);
}

/* .discountContent {
    display: flex;
    position: relative;
    color: rgb(252, 252, 252);
}

.discountContent > h3 {
    position: absolute;
    top: -53px;
    left: 14px;
    font-size: 2.5rem;
}

.discountContent > h4 {
    position: absolute;
    top: -47px;
    left: 59px;
    font-size: 22px;
}

.discountContent > h5 {
    position: absolute;
    top: -26px;
    left: 60px;
    font-size: 13px;
} */

.discountContent {
    filter:hue-rotate(100deg) brightness(0.7) saturate(.7) contrast(2.5);
}

.discountContent > img {
 position: absolute;
border-bottom-left-radius: 10px;
bottom: 4px;
left: 1px;
}

.blueLambo > img {
   border-radius: 10px;
   border: 1px solid rgb(16, 112, 16);
}

.teslaSalon > img {
   border-radius: 10px;
   border: 1px solid rgb(16, 112, 16);
}

.redNissan > img {
   border-radius: 10px;
   border: 1px solid rgb(16, 112, 16);
}

.productList {
    padding-top: 10px;
}

.productList > p {
    color: rgb(16, 112, 16) ;
    text-transform: capitalize;
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 10px;
}

.productList > h6 {
    color: rgb(16, 112, 16) ;
    padding-top: -10px;
   padding: 10px;
   gap: 10px;
    background: rgb(225, 250, 229);
    width: 8rem;
    border-radius: 8px;
}

.mainG {
    background: linear-gradient(to top, rgb(228, 245, 233), rgb(247, 250, 248) );
    height: 50vh;
}

.workBg {
    width: 100%;
    font-family: "Source Code Pro", monospace;
}

.howItWork > h2 {
    padding: 30px;
    margin-left: 20rem;
    color: rgb(16, 112, 16) ;
}

.itemWork{
 filter:hue-rotate(100deg) brightness(0.7) saturate(.7) contrast(2.5);
 /* border: solid black; */
}

.locationWork {
   display: flex;
   justify-content: space-evenly;
   /* border: solid black; */
}
.locationWork > img {
   width: 150px;
}

.locationWork > img:first-child{
height: 120px;
width: 85px;
padding-top: -20px;
margin-top: 15px;
}

.thinkK {
    font-size: 10px;
    display: flex;
    gap: 90px;
    padding: 10px;
    margin-left: 10px;
    color: #9E9E9E ;
    font-weight: 300;
}

.thinkK > p:first-child {
   padding-left: 40px;
}

.thinkK > p:nth-child(2) {
 margin-left: -40px;
 /* width: 30%; */
}
.thinkK > p:nth-child(3) {
 margin-left: -55px;
}
.thinkK > p:nth-child(4) {
margin-right: 70px;
/* width: 30%; */
}

.orderK{
    display: flex;
    justify-content: space-evenly;
    margin-left: -40px;
    margin-top: -28px;
    align-items: center;
}

.orderK > h5:first-child {
    margin-left: -26px;
}

.orderK > h5:last-child {
 margin-right: -43px;
}

.orderK > h5:nth-child(2) {
    margin-left: -40px;
}

.popularItem {
 font-family: "Source Code Pro", monospace;
}

.popularText {
    margin-left: 400px;
    margin-top: 50px;
}

.popularText {
    font-size: 20px;
    font-weight: 800;
    color: rgb(16, 112, 16) ;
}

.popularImg {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    height: 40vh;
}

.popularImg > img {
    width: 100px;
    margin-top: -50px;
    margin-left: -25px;
    filter:hue-rotate(100deg) brightness(0.7) saturate(.7) contrast(2.5);
}

.mine {
margin-left: -5px;
}

.mine > img {
    width: 205px;
    height: 180px;
    padding: 15px;
    margin-left: -19px;
    border-radius: 15%;
}

.info {
    display: flex;
    align-items: center;
    justify-items: center;
}

.info > img {
   filter:hue-rotate(100deg) brightness(0.7) saturate(.7) contrast(2.5);
width: 8px;
}

.info > p {
    font-size: 13px;
    padding: 5px;
    font-weight: 300px;
    color: rgb(16, 112, 16) ;
}

.mine > h5 {
    font-size: 18;
    font-weight: 900;
    text-decoration: none;
    text-transform: capitalize;
}

.mine > h6 {
    font-size: 12px;
    font-weight: 700;
}

.mine > button {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 8px;
    height: 40px;
    width: 140px;
    color:#fff;
    border: none;
    background-color: rgb(16, 112, 16);
    box-shadow: 0 4px 10px rgba(76, 232, 100, 0.3);
}

.firstimgContent {
    display: flex;
    position: relative;
    justify-content: space-evenly;
}

.carsImage {
    display: flex;
}

.carsImage > img {
    width: 260px;
    height: 190px;
    padding: 10px;
}

.badge{
    position: absolute;
    right: 160px;
    display: flex;
    top: 30px;
    justify-content: space-between;
    gap: 160px;
    filter:hue-rotate(100deg) brightness(0.7) saturate(.7) contrast(2.5); 
}

.badge > img {
    width: 160px;
    margin-right: -72.5px;
}

.badge > .pb {
    padding-left: 12.5px;
    
}
 
.badge > .pc {
    padding-left: 25.1px;
}

.badge > .pd {
    padding-left: 36.5px;
}

.logoCars {
    position: absolute;
    top: 200px;
    left: 100px;
    display: flex;
    justify-content: space-between;
    gap: 200px;
    margin-left: 25px;
}

.logoCars > img {
    width: 45px;
}

.logoCars > .logK {
}

.reviewUP {
    top: 230px;
    position: absolute;
    right: 200px;
    display: flex;
    justify-content: space-between;
    gap: 200px;
    filter:hue-rotate(100deg) brightness(0.7) saturate(.7) contrast(2.5); 
}

.reviewUP > img {
    width: 40px;
}

.letterP {
   display: flex;
   position: absolute;
   top: 150px;

}

.theH{
    display: flex;
    position: absolute;
    top: 130px;
}

