@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background: #fff;
  position: fixed;
  width: 100%;
  font-family: "Source Code Pro", sans-serif;
  font-size: 17px;
  font-weight: 900;
  z-index: 2;
}

.genLayout {
  max-width: 1100px;
  margin: auto;
}

.logo > img {
  width: 50px;
  margin-left: -63px;
}

.innerNav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#toggle,
.hamburger {
  display: none;
}

.navRight {
  display: flex;
  color: rgb(16, 112, 16);
}

.navRight > h5 > span {
  font-weight: 400;
}

.navRight > h5 > i {
  padding: 0 5px;
}

.navLink {
  color: rgb(16, 112, 16);
  font-size: 17px;
  font-family: "Source Code Pro", sans-serif;
  font-weight: 700;
}

.navLink > span {
  margin-right: 10px;
  color: rgb(16, 112, 16);
}

.navLink > button {
  padding: 10px;
  width: 100px;
  font-weight: 700;
  background-color: #fff;
  border: none;
  box-shadow: 0 4px 10px rgba(76, 232, 100, 0.3);
  color: rgb(16, 112, 16);
  margin-right: -10px;
}

.navLink > button > i {
  padding: 0 5px;
}

.navLink > i:input-placeholder {
  text-decoration: none;
}

.navLink >button:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(182, 240, 182);
  border-radius: 10px;
}

.mainBg {
  background: linear-gradient(
    to bottom,
    rgb(253, 253, 253),
    rgb(195, 254, 204)
  );
  font-family: "Open Sans", sans-serif;
}

.ddCar {
display: flex;
align-items: center;
}

.hero {
  margin-top: 100px;
}

.heroContent > h1 {
  font-size: 35px;
  color: rgb(16, 112, 16);
  font-weight: 700;
}

.heroContent > p {
  font-size: 14px;
  padding-block: 10px;
}

.heroimg {
 padding-right: 130px;
}

.heroimg > img {
  width: 400px;
}

.searchP {
  background-color: #fff;
  border-radius: 8px;
  width: 35rem;
  box-shadow: 0 4px 10px rgba(1, 39, 6, 0.3);
}

.searchP > i {
  color: rgb(16, 112, 16);
  margin-left: 13px;
  font-weight: 600;
  font-size: 13px;
}

.searchP > i:first-child {
  background-color: rgb(227, 241, 227);
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.searchP > i:nth-child(2) {
  color: rgb(16, 112, 16);
}

.searchP > i > span {
  margin-left: 10px;
}

.searchBar {
  padding: 15px;
  padding-bottom: 20px;
  margin-bottom: 25px;
}

.searchBar > i {
  color: rgb(16, 112, 16);
  background-color: rgb(227, 241, 227);
  border: none;
  padding: 5.5px;
  color: rgb(16, 112, 16);
  text-decoration: none;
  padding-left: 10px;
  border-radius: 10px;
}

.searchBar > i > input {
 width: 385px;
 border: none;
 text-decoration: none;
 background-color: rgb(227, 241, 227);
 outline: none;
 margin-left: 10px;
}



.searchBar > button:hover {
  color: rgb(2, 80, 6);
  background-color: rgb(182, 240, 182);
  text-decoration: none;
}

.searchBar > button {
  background: rgb(16, 112, 16);
  color: #fff;
  border: none;
  text-transform: capitalize;
  padding: 0.7rem 1rem;
  border-radius: 10px;
}

@media(min-width:260px) and (max-width: 500px){
  .hamburger {
    display: block;
    padding-left: 70px;
    font-size: 1.5rem;
  }
  .navRight {
    display: none;
  }

  .navLink {
    display: none;
  }
  
  .logo > img {
    margin-left: -30px;
    width: 70px;
  }
  
  .mainBg{
    flex-direction: column;
    margin: block;
  }
  
  .ddCar {
   flex-direction: column;
  }

  .heroContent > h1 {
    /* margin-left: -11.8rem; */
    font-size: 27px;
  }
  .heroContent > p {
    /* margin-left: -11.8rem; */
    font-size: 14px;
  }

  .searchP {
    /* margin-left: -11.8rem; */
    width: 350px;
    justify-content: center;
  }
  .heroimg > img {
    margin-left: 9rem;
    margin-top: -3rem;
    width: 330px;
  }

  .searchBar > i {
    width: 240px;
  }

  .searchBar > i > input {
    width: 200px;
  }

  .searchBar > button {
    padding: 0.3rem .2rem;
    font-size: 11px;
    font-weight: 700;
  }

}

.realCars {
  padding-block: 4rem;
  /* height: 50vh; */
  color: rgb(16, 112, 16);
  padding-bottom: 50px;
}

.cardContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 5px; */
}

.cardContent {
  position: relative;
}

.popularCarCard {
  border-radius: 25px;
}

.popularCarCard > img {
  width: 250px;
  height: 200px;
  border-radius: 25px;
}

.carCard {
  font-family: "Source Code Pro", sans-serif;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 500;
}

.carPencent {
  display: flex;
  position: absolute;
  top: 150px;
  color: #fff;
  background-color: rgb(16, 112, 16);
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  font-size: 35px;
  padding-left: 90px;
  padding-bottom: 50px;
}

.carPencent > h4 {
  position: absolute;
  left: 20px;
  bottom: 9px;
}

.carPencent > p {
  position: absolute;
  font-size: 13px;
  right: 18.5px;
  bottom: 15px;
}

.carPencent > h5 {
  position: absolute;
  font-size: 14px;
  right: 22.5px;
  top: 6.5px;
}

.carCard > h5 {
  color: black;
}

.carCard > p {
  background-color: rgb(200, 238, 200);
  width: 160px;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 13px;
  margin-top: 10px;
  border-radius: 5px;
}

@media(min-width:260px) and (max-width: 500px){
  .cardContent{

    grid-template-columns: 1fr;
    margin: auto;
    width: calc(100% - 40%);
    gap: 30px;
  }

  .carPencent {
  position: relative;
  top: -7.5rem;
  width: 30px;
}
.carPencent > h4 {
  position: absolute;
  left: 20px;
  bottom: 9px;
}
.carPencent > p {
  position: absolute;
  font-size: 13px;
  bottom: 15px;
}
.carPencent > h5 {
  position: absolute;
  font-size: 14px;
  top: 6.5px;
}
}


.mainBga {
  background-color: rgba(152, 226, 152, 0.103);
  font-family: "Source Code Pro", sans-serif;
  margin-top: 2rem;
}

.line {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.workimg > img {
  width: 150px;
  height: 100px;
}

.howItWork > h2 {
  text-align: center;
  padding: 40px;
  color: rgb(16, 112, 16);
  font-size: 25px;
  font-weight: 900;
}

.CarCont > h5 {
  font-size: 14px;
  font-weight: 800;
  margin-left: 19px;
  color: rgb(16, 112, 16);
}

.CarCont > p {
  font-size: 12px;
  width: 150px;
  margin-left: 19px;
  font-weight: 400;
  color: rgba(7, 8, 7, 0.74);
}

@media(min-width:260px) and (max-width: 500px){
  .mainBga {
    flex-direction: column;
    margin: block;
  }

  .line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* gap: 45px; */
  }
}

.pWrapper {
  text-align: center;
  color: rgb(16, 112, 16);
  font-family: "Source Code Pro", sans-serif;
  padding-block: 3rem;
  padding: 20px;
}

.pContent {
  display: flex;
  align-items: center;
  padding-block: 3rem;
}

.pimg {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.pimg > img {
  width: 230px;
  height: 140px;
  border-radius: 25px;
  padding: 5px;
}

.pimg > button {
  font-size: 35px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  color: white;
  background-color: rgb(16, 112, 16);
  border: none;
  box-shadow: 0 4px 10px rgba(1, 39, 6, 0.3);
}

.pimg > button:hover {
  color: rgb(2, 80, 6);
  background-color: rgb(182, 240, 182);
}

.pimg > h5 {
  font-size: 15px;
  font-weight: 900;
}

.pTxt {
  padding: 10px;
}

.pTxt > i,
span {
  padding-left: 5px;
  color: rgb(4, 197, 4);
  margin-top: 10px;
}

.pTxt > p {
  color: black;
  margin-top: 5px;
}

.orderP {
  margin-top: 5px;
  padding: 10px;
  width: 100px;
  font-weight: 700;
  background-color: rgb(16, 112, 16);
  border: none;
  box-shadow: 0 4px 10px rgba(76, 232, 100, 0.3);
  color: #fff;
}

.pTxt > button:hover {
  color: rgb(2, 80, 6);
  background-color: rgb(182, 240, 182);
}

@media(min-width:260px) and (max-width: 500px){
   .pContent {
    flex-direction: column;
   }

   .pimg > button {
    display: none;
   }
}

.featureCompany > h2 {
  text-align: center;
  padding-bottom: 50px;
}

.fCard {
  position: relative;
}

.fRap {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  gap: 40px;
}

.fCard > img {
  width: 270px;
  height: 160px;
  border-radius: 10px;
}

.fContent > img {
  width: 40px;
  height: 60px;
}

.fContent {
  display: flex;
  align-items: center;
}

.fPt {
  position: absolute;
  background-color: rgb(54, 218, 62);
  width: 70px;
  color: #fff;
  text-align: center;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4px;
  top: 10px;
  left: 10px;
  font-size: 13px;
}

.fPt > p > img {
  width: 10px;
  padding-top: 5px;
}

.pTn {
  position: absolute;
  background-color: rgb(54, 218, 62);
  width: 70px;
  color: #fff;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 4px;
  top: 11px;
  left: 85px;
  font-size: 13px;
}

.featureCompany > button {
  background-color: rgb(16, 112, 16);
  width: 120px;
  color: #fff;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  margin-left: 30rem;
  margin-top: 50px;
  border: none;
}
.featureCompany > button:hover {
  color: rgb(2, 80, 6);
  background-color: rgb(182, 240, 182);
}

@media(min-width:260px) and (max-width: 500px){
  .fRap{
    grid-template-columns: 1fr;
    justify-items: center;
  }

  .fCard>img {
    width: 100%;
    height: auto;
    max-width: 320px;
  }
  .featureCompany > button {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
  }
}
.sBg {
   background: linear-gradient(
    to top,
    rgb(253, 253, 253),
    rgb(195, 254, 204)
  );
  margin-top: 40px;
  font-family: "Source Code Pro", sans-serif;
  color: rgb(2, 80, 6);
}

.sFx {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sFx > h2 {
  padding: 40px;
  font-size: 25px;
   color: rgb(2, 80, 6);
   font-weight: 900;
}

.sBc {
  display: flex;
  align-items: center;
  /* margin-right: -50px; */
}

/* .sDg {
   width: 180px;
  height: 190px;
} */

.sDg > img {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  margin: 5px;
  object-fit: cover;
}

.simg {
  display: flex;
  text-align: center;
}

.sDg > p {
  font-size: 14px;
  font-weight: 700;
  color: black;
  margin-top: 10px;
}

.sBc > p {
  font-size: 12px;
  margin-right: 5px;
  font-weight: 800;
}

.sBc  > .sbR {
  font-size: 35px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  color: white;
  background-color: rgb(16, 112, 16);
  border: none;
  box-shadow: 0 4px 10px rgba(1, 39, 6, 0.3);
  margin-left: 5px;
}

.sBc > button:hover {
  color: rgb(2, 80, 6);
  background-color: rgb(182, 240, 182);
}

@media(min-width:260px) and (max-width: 500px){
  .sBg {
    flex-direction: column;
  }

  .sFx {
    display: flex;
    justify-content: center;
  }

  .sBc{
    display: none;
  }

  .simg {
    flex-direction: column;
  }
}

.theDiscount {
  background: linear-gradient(
    to right,
    rgb(253, 253, 253),
    rgb(167, 255, 180)
  );
  margin-top: 80px;
}

.dGflex {
  display: flex;
  justify-content: center;
  color: rgb(7, 111, 7);
}

.trace {
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-top: 100px;
  padding: 30px;
  border-radius: 15px;
  gap: 20px;
  width: 20%;
}

.trace > img {
  height: 75px;
  margin-left: 40px;
}

.trace > .mimg {
filter:hue-rotate(100deg) brightness(0.7) saturate(.7) contrast(2.5);
}

.trace > h3 {
  width: 30px;
  font-size: 20px;
}

.mobPhone {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8rem;
}
.mobPhone > img {
  width: 450px;
  margin-top: 100px;
}

.appStore {
  display: flex;
  filter:hue-rotate(100deg) brightness(0.7) saturate(.7) contrast(2.5);
  justify-content: center;
  margin-left: 50px;
}

.appTxt {
  color: rgb(2, 80, 6);
}

.appTxt > h2 {
  font-size: 35px;
  text-align: center;
}

.appTxt > p {
  width: 290px;
  margin-left: 80px;
  align-items: center;
}

.appStore > img {
  width: 150px;
}

@media(min-width:260px) and (max-width: 500px){
 .dGflex {
  flex-direction: column;
  align-items: center;
 }

 .trace {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-top: 60px;
 }
 
 .trace > img {
  display: none;
 }

.mobPhone {
  flex-direction: column;
  margin-left: 0;
  gap: 60px;
}

.mobPhone > img {
  width: 80%;
}

.appTxt {
  margin-left: 0;
  margin-right: 30px;
}


}

.bestContainer {
display: flex;
align-items: center;
justify-content: space-around;
margin-bottom: 25px;
}

.bestBg {
  background: linear-gradient(
    to bottom,
    rgb(253, 253, 253),
    rgb(167, 255, 180)
  );
  padding-top: 50px;
  padding-bottom: 50px;
}

.firstDeal {
  background-color: #fff;
  padding: 63px;
  margin-bottom: 4px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.fChange {
  background-color: #fff;
  padding: 63px;
  margin-bottom: 4px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.firstDeal > h2 {
  font-size: 24px;
  color: rgb(7, 111, 7) ;
  font-weight: 900;
  width: 290px;
}
.fChange > h2 {
  font-size: 24px;
  color: rgb(7, 111, 7) ;
  font-weight: 900;
  width: 290px;
}

.best {
  color: rgb(0, 0, 0);
  margin-left: -5px;
}
.firstDeal > p {
  padding: -5px;
  width: 290px;
  margin-top: 10px;
  font-size: 14px;
}
.fChange > p {
  padding: -5px;
  width: 290px;
  margin-top: 10px;
  font-size: 14px;
}

.firstDeal > .carB {
  background-color: rgb(2, 94, 38);
  padding: 8px;
  width: 250px;
  border: none;
  color: #fff;
  border-radius: 5px;
  margin-top: 50px;
  font-size: 10px;
  font-weight: 700;
}
.fChange > .carB {
  background-color: rgb(2, 94, 38);
  padding: 8px;
  width: 250px;
  border: none;
  color: #fff;
  border-radius: 5px;
  margin-top: 50px;
  font-size: 10px;
  font-weight: 700;
}

.firstDeal > button:hover{
  color: rgb(2, 80, 6);
  background-color: rgb(182, 240, 182);
}
.fChange > button:hover{
  color: rgb(2, 80, 6);
  background-color: rgb(182, 240, 182);
}

.carimg > img {
  width: 45rem;
  height: 18.8rem;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.dChange > img {
  width: 45rem;
  height: 18.8rem;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

@media(min-width:260px) and (max-width: 500px){
.bestContainer {
 flex-direction: column;
 text-align: center;
}
.carimg > img {
  width: 98%;
  height: auto;
}
.dChange > img {
  width: 98%;
  height: auto;
}
}


.lastPart {
  background: linear-gradient(
    to top,
    rgb(253, 253, 253),
    rgb(2, 68, 12)
  );
  padding: 50px;
  color: rgb(255, 255, 255) ;
}

.lContent > img {
  width: 300px;
}

.limg > img {
  width: 400px;
}

.lFlex {
display: flex;
align-items: center;
justify-content: center;
text-align: center;
}

.lContent {
  /* margin-top: 100px;
  margin-left: -160px; */
}

.limg {
   /* margin-top: -500px;
   margin-right: -190px; */
}

.lTxt {
  margin-left: 70px;
}

.lTxt > h2 {
  width: 380px;
  font-size: 25px;
  font-weight: 900;
}

.lTxt > button {
  margin-top: 50px;
  background-color: rgb(2, 94, 38);
  padding: 8px;
  width: 170px;
  border: none;
  color: #fff;
  border-radius: 5px;
  margin-top: 50px;
  font-size: 10px;
  font-weight: 700
}

.lTxt > button:hover {
 color: rgb(2, 80, 6);
  background-color: rgb(182, 240, 182);
}

@media(min-width:260px) and (max-width: 500px){
  .lastPart {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .lFlex {
    flex-direction: column;
  }

  .lTxt {
    margin: 0;
  }
}

.container {
  background-color: #090f0a;
  color: #fff;
  padding: 100px;
}

.footerCities > h3 {
  padding-bottom: 30px;
}

.cityCard {
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  margin-bottom: 30px;
}

.cityCard > ul > li {
  list-style: none;
}

.fContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  margin-top: 30px;
}
.footerSocial {
  margin-right: 80px;
}

.cardsContent > ul > li {
list-style: none;
}
.cardsContent > a {
text-decoration: none;
}

.allRight {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.companyCard > h4 {
margin-bottom: 20px;
}

.socialLink > p {
margin-bottom: 20px;
font-size: 9px;
font-weight: 700;
}

.icons {
  margin-bottom: 20px;
}

.SocialSub > p {
margin-bottom: 20px;
font-size: 12px;
}

.SocialSub > button {
  border-radius: 5px;
  padding: 5px;
  width: 100px;
  background-color: #fff;
  border: none;
  box-shadow: 0 4px 10px rgba(76, 232, 100, 0.3);
  color: rgb(16, 112, 16);
  margin-right: -10px;
}

.SocialSub > button:hover {
   color: rgb(7, 1, 1);
  background-color: rgb(251, 253, 251);
  border-radius: 10px;
}

.icons > a {
  text-decoration: none;
  color: white;
}

.cardsContent > ul > li > a {
  text-decoration: none;
  color: #fff;
}



@media(min-width:260px) and (max-width: 500px) {
  .container {
     padding: 40px 20px;
    /* flex-direction: column; */
  }
  
  .footerCities > h3 {
    text-align: center;
  }

  .cityCard {
    gap: 15px;
    font-size: 13px;
    justify-content: center;
  }

  .fContainer {
    flex-direction: column;
    align-items: flex-start;
  }

  .footerSocial {
    margin-right: 0;
    width: 100%;
    margin-top: 20px;
  }

  .SocialSub input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
  }

  .allRight {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }
}





